.link-item a:not(:last-child)::after {
    content: " | ";
    margin: 0 8px;
    color: white;
}

@media (max-width: 768px) {
    .link-item a {
      font-size: 8px; /* Nhỏ hơn khi màn hình thu nhỏ */
    }
  }
  